h1 {
    color: white;
    background-color: #38CC77;
    height: 40px;
    width: 1000px;
    padding: 2px;
    border: 2px solid black;
    text-align-last: center;
    
}

body {
    background-color: rgb(180, 170, 177);
    margin-top: 20px;
    padding-left: 100px;
    padding-top: 50px;
    padding-right: 100px;
    page-break-inside: auto;
  
}
img {
    float: center;
    width: 200px;
    height: 200px;
}
p {
    float: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    font-style: normal;
    font-family: 'Franklin Gothic normal';
    padding-top: 0px;
    text-align: center;
   margin-left: 60px;

    
}
.content {width: 25%}

.navbar {
        width: 1000px;
        height: 100px;
        background-color: #b3ec8d;
        font-size: x-large;
        color: white;
        text-align: center;
        margin: 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        place-items: center;
        border: 2px solid rgb(60, 243, 121);
    }
   
.contacts {
    border-bottom: 2px;
    text-align: center;
    
}

.nav {
    color: white;
    background-color: #38CC77;
    height: 40px;
    width: 90px;
    padding: 2px;
    text-decoration: none;
    border: 3px solid blanchedalmond
}
.works {
    float: none;
    image-rendering: auto;
    border-radius: 8px;
}

