h1 {
    color: white;
    background-color: #38CC77;
    height: 40px;
    width: 1000px;
    padding: 2px;
    border: 2px solid black;
    text-align-last: center;

}

body {
    background-color: rgb(180, 170, 177);
    margin-top: 20px;



}
img {
    float: center;
    width: 200px;
    height: 200px;
}
p {
    padding-right: 0px;
    padding-left: 0px;
    font-style: normal;
    font-family: 'Franklin Gothic normal';
    padding-top: 0px;
    text-align: none;
   margin-left: 0px;

}
.box {
  float: left;
  margin-left:15px;
  width: 150px;
  height: 40%;
  border-radius: 5px;
  background-color: orange;
  padding: 1em;

}
.box2 {
  float: left;
  margin-left:300px;
  width: 250px;
  height: 40%;
  border-radius: 5px;
  background-color: beige;
  padding: 30px;
}
.box3 {
  float: right;
  margin-left: 100px;
  width: 150px;
  height: 50%;
  border-radius: 5px;
  background-color: red;
  padding: 40px;
}

.content {width: 25%}

.navbar {
        width: 1000px;
        height: 100px;
        background-color: #b3ec8d;
        font-size: x-large;
        color: white;
        text-align: center;
        margin: 10px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        place-items: center;
        border: 2px solid rgb(60, 243, 121);
    }

.contacts {
    border-bottom: 2px;
    text-align: center;

}

.nav {
    color: white;
    background-color: #38CC77;
    height: 40px;
    width: 90px;
    padding: 2px;
    text-decoration: none;
    border: 3px solid blanchedalmond
}
.works {
    float: none;
    image-rendering: auto;
    border-radius: 8px;
}
